@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    background-image: url(../images/background.jpg);
    background-repeat: repeat;
}

/* NAVIGATION */
nav {
    background-color: #00a8ff
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2em;
    justify-content: center;
    height: 64px;
}

nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 60px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.2em;
    font-weight: bold;
    padding: 2em;
}

nav a:hover {
    background-color:  #0097e6;
    text-align: center;
    transition: 0.5s;
    height: 25px;
}
/* HEADER */


/* MAIN CONTENT */


/* MAIN */


/* ASIDE */


/* FOOTER */
