@import url(./reset.css);

body {
    background-image: url(../images/background.jpg);
    background-repeat: repeat;
}

/* NAVIGATION */
nav {
    background-color: #00a8ff
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2em;
    justify-content: center;
    height: 64px;
}

nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 60px;
    color: white
}
/* HEADER */


/* MAIN CONTENT */


/* MAIN */


/* ASIDE */


/* FOOTER */
